<form class="form-horizontal" action='/users/create' method="post">
  <% if @user %>
    <input type = "hidden" name="user_id" value="<%= @user.id %>">
    <input name="_method" value="PUT" type="hidden">
  <% end %>

  <div class="control-group">
    <label class="control-label">Username</label>
    <div class="controls">
      <input class="input-xxlarge" type="text" name="user[username]" value=<%= @user ? @user.username : "" %>>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Email</label>
    <div class="controls">
      <input class="input-xxlarge" type="text" name="user[email]" value=<%= @user ? @user.email : "" %>>
    </div>
  </div>

  <div class="form-actions">
    <button class="btn btn-primary" type="submit"><%= @user ? "Update user" : "Create user" %></button>
  </div>
</form>
