<div class="container">
  <div class="row">
    <% if @photos %>
      <% @photos.each do |p| %>
        <div class="span3"><a href="/albums/<%= p.album.id %>/photos/<%= p.id %>"><img src=<%= p.source %> class="img-polaroid"></a></div>
      <% end %>
    <% end %>
  </div>
</div>
